keras_cv==0.3.4
matplotlib==3.6.0
numpy==1.23.1
opencv_python==4.6.0.66
pandas==1.5.0
Pillow==9.3.0
PyYAML==6.0
ruamel.yaml==0.17.21
tensorboard==2.11.2
tensorflow==2.11.0
tensorflow_addons==0.19.0
mlflow == 2.1.1
torch == 2.0
